@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Navigate using the toolbar on top of this page. Thank you for checking out this rough demonstration!</p>
</div>
